@use '../variables';

.demo-content {
  padding: 1em;
}

.button-list {
  button {
    width: 8rem;
    height: 5rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: variables.$theme-color-main;
    border: 1px solid variables.$theme-color-main;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    &:hover {
      filter: brightness(108%);
      cursor: pointer;
    }
  }
  margin-bottom: 1em;
}

.queryData {
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 2rem;
  max-width: 100%;
  max-height: 250px;
  overflow: auto;
}

.query {
  display: flex;
  flex-direction: column;

  .tophalf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .queryMetric {
      width: 100%;
    }
  }
}

h2 {
  color: variables.$theme-color-light-black;
}

pre.__json-pretty__ {
  padding: 1em;
}

.main-left {
  margin-bottom: 3rem;
}

@media all and (max-width: 610px) {
  .query .tophalf {
    flex-direction: column;
  }

  .graph {
    margin-left: 0px;
  }

  .queryData {
    max-height: none;
  }
}
