@use '../variables';

.bigTitle {
  line-height: 1em;
  margin-bottom: 20px;
}

.main {
  padding-top: 0px;
  text-align: left;

  a {
    color: variables.$theme-color-complementary;
    &:hover {
      color: variables.$theme-color-hover;
    }
  }

  section {
    margin-bottom: 1em;
  }
}

.args {
  .name {
    font-weight: bold;
  }
}
// <div className="args">
//   <span className="name">gqlEndpoints:</span>
//   <span classsName="isRequired">Required</span>
//   <span className="type">string[]</span>
//   <p className="description">
//     Add GraphQL endpoint URL's to be enabled for caching.
