@use '../variables';


.package-features {
  width: 100%;
  display: flex;
  gap: 2em;
  flex-direction: wrap;
}

.big-liner{
  font-size: 50px;
}


.feature p{
 font-weight: bold;
 font-size: 20px;
}

//NEW CODE FROM BOOTSTRAP

.button1 a:link,
.button1 a:visited {
  color: white;
  background-color: variables.$theme-color-main;
  border: 1px solid variables.$theme-color-main;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
}

.button1 a:hover,
.button1 a:active {
    transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  border: 1px solid variables.$theme-color-complementary;
  background-color: variables.$theme-color-complementary;

}

.button2 a:link,
.button2 a:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid variables.$theme-color-warm-gray;
  font-size: 20px;
  font-weight: bold;
  color: variables.$theme-color-light-black;
  background-color: variables.$theme-color-light-white;
}

.button2 a:hover, 
.button2 a:active {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  background-color: variables.$theme-color-warm-gray;
  box-shadow: 0 0 1px #757575;
  color: white;
}



.bigTitle {
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 20px;
}


.bigDescription {
  font-size: 18px;
  line-height: 1.5em;
}


.main {
  text-align: left;
}

.splash {
  display: flex;
  flex-flow: row wrap;
  
  #main-left {
    width: 50%;
  }

  #main-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  
}


.splash-img{
  height: 200px;
}

.flex-buttons {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
}


.gray-link{
  color: variables.$theme-color-light-black;
  &:hover {
    color: variables.$theme-color-light-black;
  }
}


@media all and (min-width: 300px) {

  .main {
    order: 2;
    text-align: center;
    padding: 2rem 1rem;

  }


  .bigTitle {
    font-size: 2.6em;
    line-height: 1em;
    color: rgb(37, 36, 36);
  }


  .bigDescription {
    font-size: 1.4em;
    line-height: 1.5em;
    padding-bottom: 1rem;
  }

  .flex-buttons {
    flex-direction: column;
    margin: 10px 0px;
  }

.button1, .button2, .button3{
    width: 100%;
    padding-bottom: 10px;
}

.button-link1  {
    font-size: 20px;
    width: 100%;
    color: white;
    padding: 15px 0px;
  }

  .button-link2, .button-link3  {
    width: 100%;

    font-size: 20px;
    padding: 15px 0px;
  }



}

@media all and (min-width: 769px) {

  .bigTitle {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 20px;
  }
  
  .bigDescription {
    font-size: 1em;
    line-height: 1.5em;
  }

  .main {
    /* tell the main column to take up twice the space as the aside */
    flex: 2 0px;
    text-align: left;
    padding: 0 0 3rem 0; 

  }
  .main {
    order: 1;
  }

  .flex-buttons {
    flex-direction: row;
  }

  .button1, .button2, .button3{
    width: auto;
    padding-bottom: 10px;
}

  .button-link1, .button-link2, .button-link3  {
    font-size: 20px;
    width: auto;
    padding: 15px 30px;
    margin-right:15px;
  }

  

}

@media all and (max-width: 765px) {

  .bigTitle {
    font-size: 3em;
    line-height: 1em;
    font-weight: bold;
  }

  .bigDescription {
    font-size: 1em;
    line-height: 1.5em;
    padding-bottom: 1rem;
  }

  .splash {
    display: flex;
    flex-flow: column wrap;
    
    #main-left {
      width: 100%;
    }
  
    #main-right {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .package-features {
    display: flex;
    flex-direction: column;
  }
}