@use '../variables';

#team-content {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  .subtext {
    color: variables.$theme-color-subtext-grey;
  }

  #team-container {
    margin-top: 10rem;
  }

  #team-summary {
    width: 50%;
  }

  #team-cards{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}


