@use '../variables';

#team-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .subtext {
    color: variables.$theme-color-subtext-grey;
  }

  #team-container {
    display: flex;
    width: 90%;
  }

  #team-summary {
    width: 90%;
    justify-content: center;
  }

  #team-cards {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media all and (max-width: 1000px) {
  #team-content {
    display: flex;
    justify-content: center;
    align-items: center;

    #team-container {
      margin-top: 0em;
    }

    h1 {
      font-size: 1.5em;
    }

    p {
      font-size: 1em;
    }
  }
}
