@use '../variables';

.navbar-top {
  background-color: variables.$theme-color-main;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation-link {
  padding-left: 13px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  color: variables.$theme-color-light-white;

  &:hover {
    color: variables.$theme-color-hover;
    text-decoration: none;

  }
}

.logo-title {
  padding-left: 10px;
  text-decoration: none;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  color: variables.$theme-color-light-white;

  &:hover {
    color: variables.$theme-color-light-white;
  }
}

.external a,
.external i{
  font-size: 28px;
  color: variables.$theme-color-light-white;

  &:hover {
    color: variables.$theme-color-hover;
  }
}


