@use '../variables';

/*
card - add borders to each card, maybe round ? && flex column each card
socials - justify content
*/

#card-inner-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  gap: 1em;

  .card {
    gap: 1em;
    padding: 1em;
    display: flex;
    .photo {
      margin-left: auto;
      margin-right: auto;
    }

    .socials {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;

      .fab {
        color: #de5f43 !important;
      }
    }

    .name {
      justify-content: center;
      align-items: center;
      display: flex;
      color: black !important;
      font-size: 1.25em;
      margin: 0;
    }

    .subtext {
      justify-content: center;
      align-items: center;
      margin: 0;
    }
  }
}

@media all and (max-width: 600px) {
  #card-inner-container {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    align-items: center;

    .card {
      gap: 1em;
      padding: 1em;
      display: flex;

      .photo {
        margin-left: auto;
        margin-right: auto;
      }

      .socials {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25em;

        .fab {
          color: #de5f43 !important;
        }
      }

      .name {
        justify-content: center;
        align-items: center;
        display: flex;
        color: black !important;
        font-size: 1.25em;
      }

      .subText {
        justify-content: center;
        align-items: center;
      }
    }
  }
}

